body {
  background-image: url("images/blockchain.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #29313d;
  font-family: sans-serif;
  height: 100vh;
  padding: 12.5% 15%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

button.reset {
  background-color: #f0f2f5;
  border: 1px solid #1d2126;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.card {
  background-position: center;
  background-size: cover;
  border: 5px solid #72cf61;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 64px;
  margin: 8px;
  width: 64px;
}

.card.back {
  background-image: url("images/back.png");
}

.card.matched,
.card.revealed {
  /* The coin image will be set inline via JS */
}

.container {
  display: flex;
  flex-direction: column;
}

.even {
  background: white;
}

.green {
  color: green;
}

header,
footer {
  background: #6e7b8e;
  opacity: 0.85;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header {
  border-radius: 5px 5px 0 0;
}

header span,
footer span {
  color: white;
  font-weight: bold;
  line-height: 3rem;
}

.gameSection {
  display: grid;
  grid-template-areas: "wallet gameArea";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

#wallet {
  background-color: #f1f2f5;
  border: 1px solid #1d2126;
  border-radius: 5px;
  font-size: small;
  margin: 5px 5px;
  text-align: left;
  width: 210px;
}

#wallet div:first-child {
  border-bottom: 1px solid black;
}

#wallet div:last-child {
  border-radius: 0 0 5px 5px;
}

#wallet img {
  height: 18px;
  width: 18px;
}

#wallet span {
  padding-left: 5px;
}

#gameArea {
  align-content: flex-start;
  background-color: #f0f2f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#totalUSD {
  font-size: medium;
}

.balance {
  text-align: right;
}
